@model Resumepage
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hakkımda Sayfası Güncelle</h1>
            </div>
        </div>
    </div>
</section>
<form asp-controller="AdminResume" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ResumepageId" />
    <section class="content p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detaylar</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="ResumepageTitle">Sayfa Başlığı</label>
                            <input asp-for="ResumepageTitle" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="ResumepageTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subtitle">Alt Başlık</label>
                            <input asp-for="Subtitle" class="form-control">
                            <span class="text-danger" asp-validation-for="Subtitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LeftTopTitle">Eğitim Bilgileri Başlığı</label>
                            <input asp-for="LeftTopTitle" class="form-control">
                            <span class="text-danger" asp-validation-for="LeftTopTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LeftBottomTitle">Tecrübe Bilgileri Başlığı</label>
                            <input asp-for="LeftBottomTitle" class="form-control">
                            <span class="text-danger" asp-validation-for="LeftBottomTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RightTopTitle">Yetenek Bilgileri Başlığı</label>
                            <input asp-for="RightTopTitle" class="form-control">
                            <span class="text-danger" asp-validation-for="RightTopTitle"></span>
                        </div>
                        <div class="form-group">
                            <label>Durum</label>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="isApproved" class="custom-control-input" type="checkbox">
                                <label asp-for="isApproved" class="custom-control-label">Aktif</label>
                                <span class="text-danger" asp-validation-for="isApproved"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Kullanan Eğitimler</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 5%">
                                        ID
                                    </th>
                                    <th style="width: 30%">
                                        Başlık
                                    </th>
                                    <th style="width: 20%" class="text-center">
                                        Durum
                                    </th>
                                    <th class="text-center" style="width: 30%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Educations != null)
                                {
                                    @foreach (var item in Model.Educations)
                                    {
                                        <tr>
                                            <td>
                                                <a>@item.EducationId</a>
                                            </td>
                                            <td>
                                                <a>
                                                    @item.Title
                                                </a>
                                            </td>
                                            <td class="project-state">
                                                @if (item.isApproved)
                                                {
                                                    <span class="badge badge-success text-center">Aktif</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-center">Pasif</span>
                                                }
                                            </td>
                                            <td class="project-actions text-center">
                                                <a class="btn btn-info btn-sm" asp-controller="AdminResume" asp-action="EditEducation" asp-route-educationId="@item.EducationId">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm" asp-controller="AdminResume" asp-action="DeleteConnectionEducation" asp-route-educationId="@item.EducationId" asp-route-resumepageId="@item.ResumepageId">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Bağlantıyı Sil
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Kullanan Tecrübeler</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 5%">
                                        ID
                                    </th>
                                    <th style="width: 30%">
                                        Başlık
                                    </th>
                                    <th style="width: 20%" class="text-center">
                                        Durum
                                    </th>
                                    <th class="text-center" style="width: 30%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Experiences != null)
                                {
                                    @foreach (var item in Model.Experiences)
                                    {
                                        <tr>
                                            <td>
                                                <a>@item.ExperienceId</a>
                                            </td>
                                            <td>
                                                <a>
                                                    @item.Title
                                                </a>
                                            </td>
                                            <td class="project-state">
                                                @if (item.isApproved)
                                                {
                                                    <span class="badge badge-success text-center">Aktif</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-center">Pasif</span>
                                                }
                                            </td>
                                            <td class="project-actions text-center">
                                                <a class="btn btn-info btn-sm" asp-controller="AdminResume" asp-action="EditExperience" asp-route-experienceId="@item.ExperienceId">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm" asp-controller="AdminResume" asp-action="DeleteConnectionExperience" asp-route-experienceId="@item.ExperienceId" asp-route-resumepageId="@item.ResumepageId">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Bağlantıyı Sil
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Kullanan Yetenekler</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 5%">
                                        ID
                                    </th>
                                    <th style="width: 30%">
                                        Başlık
                                    </th>
                                    <th style="width: 20%" class="text-center">
                                        Durum
                                    </th>
                                    <th class="text-center" style="width: 30%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Skills != null)
                                {
                                    @foreach (var item in Model.Skills)
                                    {
                                        <tr>
                                            <td>
                                                <a>@item.SkillsId</a>
                                            </td>
                                            <td>
                                                <a>
                                                    @item.SkillTitle
                                                </a>
                                            </td>
                                            <td class="project-state">
                                                @if (item.isApproved)
                                                {
                                                    <span class="badge badge-success text-center">Aktif</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-center">Pasif</span>
                                                }
                                            </td>
                                            <td class="project-actions text-center">
                                                <a class="btn btn-info btn-sm" asp-controller="AdminResume" asp-action="EditSkill" asp-route-skillId="@item.SkillsId">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm" asp-controller="AdminResume" asp-action="DeleteConnectionSkill" asp-route-skillId="@item.SkillsId" asp-route-resumepageId="@item.ResumepageId">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Bağlantıyı Sil
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <a asp-controller="AdminResume" asp-action="Index" class="btn btn-danger btn-lg">Vazgeç</a>
                <input type="submit" value="Kaydet" class="btn btn-success float-right btn-lg">
            </div>
        </div>
    </section>
</form>




